<<<<<<< HEAD
=======
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
>>>>>>> 51a8b432a24977fb9f7bf38be78fc83e9540e817
.ui-menu,
.ui-menu .ui-menu-item a {
  color: #96f226;
  border-radius: 0px;
  border: 1px solid #454545;
}
