@import 'reset';

.ui-menu,
.ui-menu-item a {
  border: 3px solid black;
  background-color: rgb(255, 255, 255);
  list-style: none;
  padding: 1rem 0rem;
}

// Hover change color
.ui-menu-item:hover {
  background-color: rgb(226, 226, 226);
}

// Put off the "n result is available, use up and down arrow keys to navigate."
.ui-helper-hidden-accessible {
  display: none;
}
.focus {
  background-color: brown;
}

/*https://www.youtube.com/watch?v=tQH0qWncX30&ab_channel=C%C3%B3digoAV*/
/*https://stackoverflow.com/questions/17838380/styling-jquery-ui-autocomplete*/
